$fade-height: 100px;

.section--hero {
  position: relative;
  z-index: 1;
  display: flex;
  overflow: hidden;
  max-width: unset;
  height: 460px;
  max-height: calc(100vh - 8rem);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  background-color: $c-bg-dark;
  place-items: center;
}

.hero-bg {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  inset: 0;

  &__fade {
    position: absolute;
    right: 0;
    left: 0;
    width: 35%;
    opacity: 40%;
    margin: 0 auto;
  }
}

.title {
display: inline-block;
color: $c-txt-light;
font-size: clamp(4rem, 15vw, 6rem);
line-height: 0.71;
text-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
text-transform: uppercase;

&__title {
margin: 0 0 0.2em -0.08em;
font-size: 0.8em;
font-weight: 400;
text-align: center;
}

&__beginning {
display: block;
font-size: 0.6em;
line-height: 1.5;
text-transform: initial;
}
}

.align-center {
text-align: center;
}
